.Text {
    color: #ffa15f;
    font-size: 28px;
    display: block;
    font-weight: 700;
    margin: 0 auto;
}

.ForgotPassword {
    font-size: 12px;
    color: white;
    font-weight: 600;
    display: block;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
}

.LogInForm {
    max-width: 380px;
    height: 424px;
    opacity: 0.8;
    border-radius: 2px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 0 10px 24px 0 rgba(0, 0, 0, 0.08);
    background-color: rgba(61, 61, 63, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 32px;
    margin: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}