.Header {
    border-bottom: solid 0.1px lightgray;
    box-shadow: 1px 1px 2px #ccc;
    padding: 20px 0 10px 0;
}

input {
    border: none;
}

hr {
    border: solid 0.5px lightgray;
}

input:focus {
    outline-width: 0;
}

::placeholder {
    color: #cccccc;
}

a {
    text-decoration: none;
}

.register-span, .logout-span {
    cursor: pointer;
    color: #4d4d4d;
}