.upper-element {
    width: 100%;
    box-sizing: border-box;
    padding: 32px 0;
    text-align: center;
    height: 104px;
    box-sizing: border-box;
}

.title {
    font-size: 28px;
    font-weight: bold;
    line-height: 1.29;
    display: block;
    padding-bottom: 10px;
}