body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

@media screen and (min-width: 1400px) {
  .container {
    min-width: 1311px!important;
  }
}

* {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

a {
  text-decoration: none!important;
  color: black!important;
}

div.select__control {
  border-radius: 0;
  border: solid 1px #ededed;
  padding: 8px 10px;
}

div.select__control div {
  cursor: pointer;
}

.is-active>span {
  color: #ffa15f;
}

.active {
  color: #ffa15f;
}

#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}