.flat-button {
    color: white;
    font: inherit;
    width: 100%;
    border: none;
    outline: none;
    box-sizing: border-box;
    padding: 15px 24px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.12);
}

.outer-box {
    width: 100%;
    box-sizing: border-box;
}

.flat-button:disabled {
    background-color: #d4d3d3!important;
    box-shadow: none!important;
}