.login-button {
    border-radius: 100px;
    border: solid 1px #ffa15f;
    background-color: white;
    color: #ffa15f;
    font: inherit;
    font-weight: bold;
    cursor: pointer;
    padding: 7px 30px;
    outline: none;
    min-width: 120px;
}

.login-button:hover, .login-button:focus {
    background-color: #ffa15f;
    color: white;
    outline: none;
}